<tr>
  <td align="center" style="padding:26px 0;">
    <table>
      <tr>
        <td style="padding-right:13px;">
          <img src="https://ftp.binance.com/img/20180206/image_1510827524440.png" />
        </td>
        <td valign="top" style="padding-left:13px;">
          <strong style="display:block;font-weight:normal;margin-bottom:12px;">{{t 'Download'}}</strong>
          <a href="https://www.binance.com/cn/download" target="_blank">
            <img src="https://ftp.binance.com/img/20180206/image_1510827560662.png" />
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>