node_modules
*.nosave
.vscode
changelog
data
docker
docs
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.DS_Store
.editorconfig
.eslintignore
.npmignore
.git
.gitignore
.env
#*/bin
*/obj
README.md
LICENSE
