<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0"
  style="font-size:14px;font-family:Microsoft Yahei,Arial, Helvetica, sans-serif;padding:0;margin:0;color:#333;background-image:url(https://ftp.binance.com/img/20180206/image_1509938087118.jpg);background-color:#f7f7f7;background-repeat:repeat-x;background-position:bottom left;">
  <tr>
    <td>
      <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" valign="middle" style="padding:33px 0;">
            <a href="https://vectrum.group/" target="_blank">
              <img src="https://ftp.binance.com/img/20180613/logo.png" width="232" height="60" alt="VECTRUM"
                style="border:0;">
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div style="padding:0 30px;background:#fff;box-shadow:0 0 5px #eee;">
              {{{body}}}
            </div>
          </td>
        </tr>
        <tr>
          <td align="center" style="padding:26px 0;">
            <table>
              <tr>
                <td style="padding-right:13px;">
                  <img src="https://ftp.binance.com/img/20180206/image_1510827524440.png" />
                </td>
                <td valign="top" style="padding-left:13px;">
                  <strong style="display:block;font-weight:normal;margin-bottom:12px;">Download</strong>
                  <a href="https://www.binance.com/cn/download" target="_blank">
                    <img src="https://ftp.binance.com/img/20180206/image_1510827560662.png" />
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" style="font-size:12px;color:#999;padding:20px 0;">
            &copy; 2017 - 2020 VECTRUM All Rights Reserved
            <br>URL: <a style="color:#999;text-decoration:none;" href="https://www.vectrum.group/"
              target="_blank">www.vectrum.group</a>
            &nbsp;&nbsp;E-mail: <a href="mailto:support@vectrum.group"
              style="color:#999;text-decoration:none;">support@vectrum.group</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>