<html lang="en">

<head>
  <meta name="viewport"
    content="width=device-width,minimum-scale=1,maximum-scale=1.0,initial-scale=1,user-scalable=no,viewport-fit=true" />
</head>

<body style="margin: 0; padding: 0;">
  <div class="warp"
    style="        font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;        font-size: 14px;        width: 100%;        background: #fafafa;        line-height: 22px;        box-sizing: border-box;      ">
    <div
      style="              width: 600px;              max-width: 100%;              background: #fff;              box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);              border-radius: 6px;              margin: 0 auto;            ">
      <img width="100%" src="https://public.bnbstatic.com/image/email_template/emailBanner.png" />
      <div class="contentText" style="padding: 0 20px 40px">
        <table
          style="border-spacing: 0;float:right;width: 100%;line-height: 32px;margin-top: 16px;font-size: 14px;border-radius: 4px;">
          <tr>
            <td width="100%">
      </div>
      </td>
      </tr>
      </table>
      <div style="clear: both;"></div>
      <h3 style="font-weight: bold;font-size: 24px;line-height: 36px;margin: 16px 0;color: #1e2026;">Успешный вход с
        нового IP-адреса </h3>
      <p class="section" style="font-weight: normal;margin:16px 0 0 0;color: #474d57;">Мы заметили, что вы зашли в
        аккаунт с ранее не использовавшегося IP-адреса. Электронная почта : <a
          style="                    color:#396acc;                    text-decoration: underline;                    ">a.n.ivannikov@yandex.ru</a>
      </p>
      <table class="deviceInfo"
        style="    margin-top: 16px;    width: 100%;    background: #fafafa;    vertical-align: middle;    padding: 10px 0 10px;    box-sizing: border-box;      ">
        <tr>
          <td>
            <table>
              <tr>
                <td
                  style="vertical-align: text-top;text-align: left; margin-right: 3px;color: #76808f;            white-space: nowrap;            text-align: right;            font-size: 14px;            padding-right: 8px;            padding-left: 8px;">
                  Время : </td>
                <td>
                  <div>
                    <div style="color: #474d57;">2020-11-04 10:22:25(UTC)</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td
                  style="vertical-align: text-top;text-align: left; margin-right: 3px;color: #76808f;            white-space: nowrap;            text-align: right;            font-size: 14px;            padding-right: 8px;            padding-left: 8px;">
                  IP адрес: </td>
                <td>
                  <div>
                    <div style="color: #474d57;">2.63.84.14</div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <p class="section" style="font-weight: normal;margin:16px 0 0 0;color: #474d57;">Если вы не инициировали это
        действие, <a
          style="text-decoration-line: none;font-weight: normal;line-height: 24px;color: #f0b90b;cursor: pointer;"
          href="https://www.binancezh.pro/ru/usercenter/security/disable-account"> отключите свой аккаунт</a> и
        немедленно свяжитесь со службой поддержки по адресу <a
          style="text-decoration-line: none;font-weight: normal;line-height: 24px;color: #f0b90b;cursor: pointer;"
          href="https://www.binance.com/ru/support">https://www.binance.com/ru/support</a>. </p>
      <p
        style="font-weight: normal;                  margin: 0;                  font-size: 14px;                  line-height: 22px;                  color: #76808f;                  margin-top: 36px;">
        Команда Binance<br />Это письмо создано автоматически, пожалуйста, не отвечайте на него.</p>
    </div>
  </div>
  <div class="bottom" style="padding: 0 16px 40px;text-align: center;"> <a
      style="display: inline-block;  position: relative;  text-decoration: none;  align-items: center;  border-radius: 4px;  font-weight: bold;  color: #1e2026;  margin: 24px 0;  line-height: 48px;  padding: 0 16px;  background:linear-gradient(180deg, #f8d12f 0%, #f0b90b 100%);  cursor: pointer;"
      href="https://www.binance.com/ru/download"> <img
        src="https://public.bnbstatic.com/image/email_template/download.png" style="vertical-align: -7px;padding: 0;">
      <span style="display: inline-block;">Скачать приложение Binance</span> </a>
    <p class="bottom-log"
      style="font-weight: normal;  margin: 0;  font-size: 14px;  line-height: 22px;  color: #aeb4bc;  text-align: center;">
      © 2017-2020 Binance.com Все права защищены</p>
    <p class="bottom-log"
      style="font-weight: normal;  margin: 0;  font-size: 14px;  line-height: 22px;  color: #aeb4bc;  text-align: center;">
      Ссылка: www.binance.com</p>
    <p class="bottom-log"
      style="font-weight: normal;  margin: 0;  font-size: 14px;  line-height: 22px;  color: #aeb4bc;  text-align: center;">
      E-mail: support@binance.zendesk.com</p>
  </div>
  </div>
</body>

</html>