<!DOCTYPE html>
<html lang="{{language}}">

<head>
  <meta charset="utf-8" />
  <meta httpequiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1.00001,viewport-fit=cover" />
  <title>{{title}}</title>
  <meta name="description" content="{{description}}" />

  <meta property="og:title" content="VECTRUM">
  <meta property="og:image" content="https://telete.in/org/img/t_logo.png">
  <meta property="og:site_name" content="Telegram">
  <meta property="og:description" content="You can view and join @vectrum_group right away.">

  <meta property="twitter:title" content="VECTRUM">
  <meta property="twitter:image" content="https://telete.in/org/img/t_logo.png">
  <meta property="twitter:site" content="@Telegram">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Telegram">
  <meta name="twitter:description" content="You can view and join @vectrum_group right away.">

  <style>
    body {
      padding: 50px;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    a {
      color: #00B7FF;
    }
  </style>
</head>

<body>
  {{> noscript}}

  <div id="root">
    {{{body}}}
  </div>

  {{#if preloadedReduxState}} {{> preloaded_redux_state}} {{/if}}
</body>

</html>