<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="border-bottom: 1px solid #e6e6e6;font-size:18px;padding:20px 0;">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td>{{t 'Verify your email'}}</td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="font-size:14px;line-height:30px;color:#666;">
      <br>You've requested to withdraw <strong style="margin:0 5px;">2063.984539</strong> USDT
      <br>to this address:<strong style="margin:0 5px;">0xdd2abe63a7da7415c8f159ba6785f2f6f7613bcc </strong>
      <br><strong style="margin:0 5px;"></strong>
      <br>Before going further with the withdrawal, please<strong style="margin:0 5px;">check carefully the
        target address.</strong>Be aware that if you confirm an
      incorrect address, we won't be able to assist you to recover your assets.</strong>
    </td>
  <tr>
    <td style="font-size:14px;line-height:30px;padding:0 0 20px;color:#666;">
      Verification code:
    </td>
  </tr>
  <tr>
    <td>
      {{t 'Follow the link or enter this code' this }}
      <span style="padding:5px 0;font-size: 20px;font-weight: bolder;color:#e9b434;">{{confirmCode}}</span>
    </td>
  </tr>
  <tr>
    <td style="padding:20px 0 10px 0;line-height:26px;color:#666;">
      The verification code will be valid for 30 minutes. Please do not share this code with
      anyone.<br />If you did not initiate this operation, <a
        href="https://www.binance.com/ru/my/security/account-activity/disable-account" style="color:#ebb44d">click
        here</a> to disable your account and then click the link below to
      contact Binance Customer Service:
      <a style="color:#e9b434;" href="https://vectrum.group/en/support"
        target="_blank">https://vectrum.group/en/support</a>.
    </td>
  </tr>
  <tr>
    <td style="padding:30px 0 15px 0;font-size:12px;color:#999;line-height:20px;">
      Binance Team<br>This is an automated message, please do not reply.
    </td>
  </tr>
</table>